<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Animal Shelter</title>
        <link th:href="@{css/AnimalNotes.css}" href="../static/css/AnimalNotes.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{images/Icon.png}" href="../static/images/Icon.png" rel="icon"/>
        <header>
            <div class="HeaderText">
                 <h1>Animal Shelter</h1>
            </div>
        </header>
        <nav>
            <ul>
                <li><a th:href="ListAnimals" href="/animalshelter/templates/ListAnimals.html">List Animals</a></li>
                <li><a th:href="EditAnimals" href="/animalshelter/templates/EditAnimals.html">Add an Animal</a></li>
                <li class="logout"><a th:href="@{/logout}" href="/animalshelter/templates/ListAnimals.html">Logout</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <section>
            <div class="AnimalNotes">
                <h2>Animal Notes</h2>
            </div>
            <article class="AnimalCard">
                <div class="AnimalPicture">
                    <!--<img th:src="@{ ${animal.getPicture()} }" src="../static/images/Cat.png" alt="Cat"/>-->
                    <img th:src="@{ ${animal.getPicture()} }" src="../static/images/Cat.png" alt=""/>
                </div>
                <div class="AnimalStats">
                    <ul>
                        <h1><a th:href="@{/EditAnimals?(animalID=${animal.getAnimalID()})}" href="/animalshelter/templates/EditAnimals.html" class="AnimalName" th:text="${animal.getName()}">Bob</a></h1>
                        <li><span class="LabelText">Type: </span><span th:text="${animal.getType().getType()}">Cat</span></li>
                        <li><span class="LabelText">Breed: </span><span th:text="${animal.getBreed()}">Tabby</span></li>
                        <li><span class="LabelText">Description: </span><span th:text="${animal.getDescription()}">Big fat and fuzzy</span></li>
                    </ul>
                </div>
            </article>
            <article>
                <div>
                    <table class="AnimalNotesTable">
                        <tr>
                            <th>Date</th>
                            <th>Note</th>
                            <th> </th>
                        </tr>
                        <tr th:each="note : ${notesList}">
                            <td th:text="${note.getNoteCreationDateAsString()}">08/29/16</td>
                            <td th:text="${note.getNoteContent()}">Went to visit vet.</td>
                            <td><button class="DeleteButton"><a th:href="@{/DeleteNote?(animalID=${animal.getAnimalID()}, noteID=${note.getNoteID()})}"></a></button></td>
                        </tr>
                    </table>
                </div>
            </article>
            <article>
                <form class="AddNote" th:action="AnimalNotes" action="AnimalNotes.html" method="post" th:object="${note}">
                    <input type="hidden" id="animalID" name="animalID" th:value="${animal.getAnimalID()}" />
                    <div class="AddAnimalNote">
                        Add a note:
                        <ul class="error" th:hidden="true"><li th:each="err : ${#fields.errors('noteContent')}"></li></ul>
                            <p>
                                <textarea class="AddAnimalNoteText" id="noteContent" name="noteContent" th:field="*{noteContent}" th:errorclass="error" th:text="${''}">This cat seriously needs a bath. This means we need to buy some chainmail.</textarea>
                            </p>
                    </div>
                    <div>
                        <button class="AddNoteButton">Add Note</button>
                    </div>
                </form>
            </article>
        </section>
    </body>
</html>