<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="/describeMe" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" value="" />
            </div>
            <div>
                <label for="city">City:</label>
                <input type="text" name="city" id="city" value="" />
            </div>
            <div>
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" value="" />
            </div>
            <button>Say Hi!</button>
        </form>
    </body>
</html>