<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Animal Shelter</title>
        <link th:href="@{css/EditAnimals.css}" href="../static/css/EditAnimals.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{images/Icon.png}" href="../static/images/Icon.png" rel="icon"/>
        <header>
            <div class="HeaderText">
                <h1>Animal Shelter</h1>
            </div>
        </header>
        <nav>
            <ul>
                <li><a th:href="ListAnimals" href="/animalshelter/templates/ListAnimals.html">List Animals</a></li>
                <li><a th:href="EditAnimals" href="/animalshelter/templates/EditAnimals.html">Add an Animal</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <section>
            <div class="EditAnimal">
                <h2>Add/Edit An Animal</h2>
                <p>Note: (*) indicates a required field!</p><br/>
                    <div>
                        <form class="AnimalDetails" th:action="EditAnimals" action="/animalshelter/templates/ListAnimals.html" method="post">
                            <input type="hidden" id="animalID" name="animalID" th:value="${animal.getAnimalID()}" />
                            <div class="LabelText">
                                <label for="name">Name*: </label>
                            </div>
                            <div>
                                <input type="text" placeholder="Name" id="name" name="name" th:value="${animal.getName()}" value="Bob"/><br/>
                            </div>
                            <div class="LabelText">
                                <label for="type">Type*: </label>
                            </div>
                            <div>
                                <select name="type" id="type">
                                    <option value="" disabled="true" selected="true">Type</option>
                                    <!--th:if="value = ${animal.getType}-->
                                    <option th:each="type : ${typesList}" th:value="${type.getTypeID()}" value="" th:text="${type.getType()}">Cat</option>
                                </select><br/>
                            </div>
                            <div class="LabelText">
                                <label for="breed">Breed: </label>
                            </div>
                            <div>
                                <input type="text" placeholder="" id="breed" name="breed" th:value="${animal.getBreed()}"/><br/>
                            </div>
                            <div class="LabelText">
                                <label for="description">Description*: </label>
                            </div>
                            <div>
                                <textarea id="description" placeholder="Description" maxlength="64" name="description" th:text="${animal.getDescription()}">Big fat and fuzzy</textarea><br/>
                            </div>
                            <div class="LabelText">
                                <label for="photo">Photo: </label>
                            </div>
                            <div>
                                <input type="file" class="fileupload" id="photo" name="photo"/><br/>
                            </div>
                            <div class="LabelText">
                                <label for="save"></label>
                            </div>
                            <div class="SaveButton">
                                <button id="save">Save Animal</button>
                            </div>
                        </form>
                    </div>
            </div>
        </section>
    </body>
</html>