<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Animal Shelter</title>
        <link th:href="@{css/ListAnimals.css}" href="../static/css/ListAnimals.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{images/Icon.png}" href="../static/images/Icon.png" rel="icon"/>
        <header>
            <div class="HeaderText">
                <h1>Animal Shelter</h1>
            </div>
        </header>
        <nav>
            <ul>
                <li><a th:href="ListAnimals" href="/animalshelter/templates/ListAnimals.html">List Animals</a></li>
                <li><a th:href="EditAnimals" href="/animalshelter/templates/EditAnimals.html">Add an Animal</a></li>
                <li class="logout"><a th:href="@{/logout}" href="/animalshelter/templates/ListAnimals.html">Logout</a></li>
            </ul>
        </nav>
    </head>
    <body>
        <section>
            <div class="AnimalSearch">
                <h2>List Animals</h2>
                <p>Search for an animal:</p>

                    <form th:action="ListAnimals" method="get">

                        <input type="text" placeholder="Name" id="name" name="name" th:value="${lastAnimalName}"/>

                        <select id="type" name="type">
                            <option value="" disabled="true" selected="true">Type</option>
                            <option th:each="type : ${typesList}" th:value="${type.getTypeID()}" value="" th:text="${type.getType()}" th:selected="${lastAnimalType == type.getTypeID()}">Cat</option>
                        </select>

                        <input type="number" placeholder="ID Number" id="animalID" name="animalID" min="1" th:value="${lastAnimalID}"/>

                        <button>Search</button>
                    </form>
            </div>
            <!--/*@thymesVar id="animalList" type="java.util.List"*/-->
            <!--/*@thymesVar id="animal" type="com.andrewrnagel.animalshelter.entity.Animal"*/-->
            <article class="AnimalCard" th:each="animal : ${animalList}">
                <div class="AnimalPicture">
                    <img th:src="@{ ${animal.getPicture()} }" src="../static/images/Cat.png" alt=""/>
                </div>
                <div class="AnimalStats">
                    <ul>
                        <h1><a th:href="@{/EditAnimals?(animalID=${animal.getAnimalID()})}" href="/animalshelter/templates/EditAnimals.html" class="AnimalName" th:text="${animal.getName()}">Bob</a></h1>
                        <li><span class="LabelText">Type: </span><span th:text="${animal.getType().getType()}">Cat</span></li>
                        <li><span class="LabelText">Breed: </span><span th:text="${animal.getBreed()}">Tabby</span></li>
                        <li><span class="LabelText">Description: </span><span th:text="${animal.getDescription()}">Big fat and fuzzy</span></li>
                        <li><span class="LabelText">Notes: </span><a th:href="@{/AnimalNotes?(animalID=${animal.getAnimalID()})}" href="/animalshelter/templates/AnimalNotes.html" th:text="${animal.getAnimalNotes().size() + ' note(s)'}">0 notes</a> </li>
                    </ul>
                </div>
            </article>
        </section>
    </body>
</html>